@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #00004066;

  color: #ffffff66;
}